# Python 설치와 기본 문법 익히기

## 02장 자료형
### 숫자형

In [ ]:
a=3
b=4
a*b

In [2]:
a=3
b=4
a**b

81

In [4]:
7%3

1

In [5]:
3%7

3

In [6]:
7/4

1.75

In [7]:
7//4

1

### 문자열 자료형

In [1]:
food="Python's favorite food is perl"
food

"Python's favorite food is perl"

In [5]:
say='"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [7]:
multiline="Life is too short\nYou need python"

In [8]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

### 리스트 자료형

In [9]:
a=[1,2,3]
a

[1, 2, 3]

In [10]:
a[0]

1

In [11]:
a[0]+a[2]

4

In [12]:
a[-1]

3

In [13]:
a=[1,2,3,['a','b','c']]

In [14]:
a[0]

1

In [16]:
a[-1]

['a', 'b', 'c']

In [17]:
a[-1][1]

'b'

In [19]:
a=[1,2,['a','b',['Life','is']]]
a[2][2][0]

'Life'

In [20]:
a=[1,2,3,4,5]
a[0:2]

[1, 2]

In [21]:
a="12345"
a[0:2]

'12'

In [22]:
a=[1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [23]:
a[3][:2]

['a', 'b']

In [24]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [25]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
a=[1,2,3]
len(a)

3

In [27]:
a[2]=4
a

[1, 2, 4]

In [28]:
del a[1]
a

[1, 4]

In [29]:
a=[1,2,3,4,5]
del a[2:]
a

[1, 2]

In [30]:
a.append(4)
a

[1, 2, 4]

In [31]:
a.append([5,6])
a

[1, 2, 4, [5, 6]]

In [32]:
a=[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [33]:
a.reverse()
a

[4, 3, 2, 1]

In [35]:
a.index(3)

1

In [36]:
a[0]

4

In [37]:
a.index(0)

ValueError: 0 is not in list

In [39]:
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [42]:
a=[1,2,3]
a.insert(3,5)
a

[1, 2, 3, 5]

In [43]:
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [44]:
a.remove(3)
a

[1, 2, 1, 2]

In [45]:
a=[1,2,3]
a.pop()

3

In [46]:
a

[1, 2]

In [47]:
a=[1,2,3,1]
a.count(1)

2

In [48]:
a.extend([4,5])
a

[1, 2, 3, 1, 4, 5]

In [50]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 1, 4, 5, 6, 7, 6, 7]

### 튜플 자료형

In [51]:
t1=(1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [52]:
t1[0]

1

In [53]:
t1[1:]

(2, 'a', 'b')

In [54]:
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [55]:
t2*3

(3, 4, 3, 4, 3, 4)

In [56]:
len(t1)

4

### 딕셔너리 자료형

In [57]:
a={1:'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [59]:
a['name']='pay'
a

{1: 'a', 2: 'b', 'name': 'pay'}

In [60]:
a[3]=[1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pay', 3: [1, 2, 3]}

In [64]:
del a['name']
a

{2: 'b', 3: [1, 2, 3]}

In [65]:
a[2]

'b'

In [66]:
a={1:'a',1:'b'}
a

{1: 'b'}

In [67]:
a={'name':'pey','phone':'0119993323','birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [68]:
list(a.keys())

['name', 'phone', 'birth']

In [69]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [70]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [71]:
a.clear()
a

{}

In [72]:
a={'name':'pey','phone':'0119993323','birth':'1118'}
a.get('name')

'pey'

In [73]:
a.get('foo','bar')

'bar'

In [74]:
'name' in a

True

### 집합 자료형

In [76]:
s1=set([1,2,3])
s1

{1, 2, 3}

In [77]:
s2=set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [80]:
s1=set([1,2,3])
l1=list(s1)
l1

[1, 2, 3]

In [81]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
s1&s2

{4, 5, 6}

In [82]:
s1.intersection(s2)

{4, 5, 6}

In [83]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
s1-s2

{1, 2, 3}

In [86]:
s1.difference(s2)

{1, 2, 3}

In [87]:
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [89]:
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [90]:
s1.remove(2)
s1

{1, 3, 4, 5, 6}

### 불 자료형

In [91]:
1==1

True

In [92]:
a=[1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [94]:
if[1,2,3]:
    print("참")
else:
    print("거짓")

참

In [95]:
bool(0)

False

### 자료형의 값을 저장하는 공간, 변수

In [96]:
a=1
b="python"
c=[1,2,3]
id(a)

140723499116320

In [97]:
b=a
id(b)

140723499116320

In [98]:
a is b

True

In [100]:
a=[1,2,3]
b=a[:]
a[1]=4
a

[1, 4, 3]

In [101]:
b

[1, 2, 3]

In [106]:
a,b=('python','life')
(a,b)='python','life'
[a,b]=['python','life']
a=b='python'
a

'python'

In [107]:
b

'python'

### 연습문제

In [108]:
a=80
b=75
c=55
(a+b+c)/3

70.0

In [111]:
if(13%2==0):
    print('짝수')
else :
    print('홀수')

홀수

In [112]:
a='881120-1068234'
a.index('-')

6

In [113]:
a[:6]

'881120'

In [114]:
a[7:]

'1068234'

In [115]:
pin='881120-1068234'
a[7]

'1'

In [121]:
a="a:b:c:d"
a=a.replace(':','#')
a

'a#b#c#d'

In [122]:
a=[1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [128]:
a=['Life','is','too','short']
a=' '.join(a)
a

'Life is too short'

In [156]:
a=(1,2,3)
b=(4,)
a+b

(1, 2, 3, 4)

In [150]:
a={'A':90,'B':80,'C':70}
a.pop('B')

80

In [149]:
a=[1,1,1,2,2,3,3,3,4,4,5]
a=set(a)
a

{1, 2, 3, 4, 5}

In [147]:
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

## 03장 제어문
### if문

In [157]:
money=True
if money:
    print('택시를')
    print('타고')
    print('가라')

택시를
타고
가라

In [158]:
x=3
y=2
x>y

True

In [159]:
x<y

False

In [160]:
money=2000
if money>=3000:
    print('택시를 타고 가라')
else :
    print('걸어가라')

걸어가라

In [161]:
1 in [1,2,3]

True

In [162]:
pocket=['paper','cellphone','money']
if 'money' in pocket:
     print('택시를 타고 가라')
else :
    print('걸어가라')

택시를 타고 가라

In [163]:
pocket=['paper','cellphone','money']
if 'money' in pocket:
     pass
else :
    print('걸어가라')

In [164]:
pocket=['paper','cellphone']
card=True
if 'money' in pocket:
     print('택시를 타고 가라')
else :
    if card:
        print('택시를 타고가라')
    else:
        print('걸어가라')

택시를 타고가라

### while문

In [168]:
treeHit=0
while treeHit<10:
    treeHit=treeHit+1
    print('나무를 %d번 찍었습니다' %treeHit)
    if treeHit==10:
        print('나무 넘어갑니다.')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다.

In [177]:
prompt="""
1.Add
2.Del
3.List
4.Quit
Enter number: """

number=0
while number!=4:
    print(prompt)
    number=int(input())

1.Add
2.Del
3.List
4.Quit
Enter number:
4

In [172]:
coffee=10
money=300
while money:
    print('돈을 받았으니 커피를 줍니다')
    coffee=coffee-1
    print('남은 커피의 양은 %d개 입니다.'%coffee)
    if coffee==0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다')
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다

In [181]:
prompt="돈을 넣어주세요: "

coffee=10
while True:
    print(prompt)
    money=int(input())
    if money==300:
        print('커피를 줍니다')
        coffee=coffee-1
    elif money>300:
        print('거스름돈 %d를 주고 커피를 줍니다.' %(money-300))
        coffee=coffee-1
    else:
        print('돈을 다시 돌려주고 커피를 주지 않습니다.')
        print('남은 커피의 양은 %d개 입니다.' %coffee)
    if coffee==0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 넣어주세요:
300
커피를 줍니다
돈을 넣어주세요:
500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어주세요:
1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어주세요:
300
커피를 줍니다
돈을 넣어주세요:
300
커피를 줍니다
돈을 넣어주세요:
300
커피를 줍니다
돈을 넣어주세요:
300
커피를 줍니다
돈을 넣어주세요:
300
커피를 줍니다
돈을 넣어주세요:
300
커피를 줍니다
돈을 넣어주세요:
300
커피를 줍니다
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [182]:
a=0
while a<10:
    a=a+1
    if a%2==0:continue
    print(a)

1
3
5
7
9

In [ ]:
while True:
    print("Ctrl+C 를 눌러야 while 문을 빠져나갈 수 있습니다.")

### for문

In [184]:
test_list=['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [185]:
a=[(1,2),(3,4),(5,6)]
for(first,last) in a:
    print(first,last)

1 2
3 4
5 6

In [186]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number = number+1
    if mark<=60:
        print('%d번 학생은 합격입니다' %number)
    else:
        print("%d번 학생은 불합격입니다" %number)

1번 학생은 불합격입니다
2번 학생은 합격입니다
3번 학생은 불합격입니다
4번 학생은 합격입니다
5번 학생은 불합격입니다

In [187]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number = number+1
    if mark<60:
       continue
    print('%d번 학생 축하합니다. 합격입니다.' %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [188]:
a=range(10)
a

range(0, 10)

In [190]:
add=0
for i in range(1,11):
    add=add+i
print(add)

55

In [193]:
marks=[90,25,67,45,80]
for number in range(len(marks)):
    if marks[number]<60:
       continue
    print('%d번 학생 축하합니다. 합격입니다.' %(number+1) )

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [195]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [196]:
a=[1,2,3,4]
result=[]
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [197]:
a=[1,2,3,4]
result=[num*3 for num in a if num%2==0]
print(result)

[6, 12]

In [198]:
result=[x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 연습문제

In [199]:
a="Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [201]:
i=1
result=0
while i<=1000:
    if(i%3==0): result=result+i
    i=i+1
print(result)

166833

In [204]:
i=1
while i<=5:
    print("*"*i)
    i=i+1

*
**
***
****
*****

In [207]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [210]:
a=[70,60,55,75,95,90,80,80,85,100]
totalscore=0
for i in range(len(a)):
    totalscore=totalscore+a[i]
print(totalscore/len(a))

79.0

In [211]:
numbers=[1,2,3,4,5]
result=[]
for n in numbers:
    if n%2==1:
        result.append(n*2)

In [212]:
numbers=[1,2,3,4,5]
result=[n*3 for n in numbers if n%3==1]
print(result)

[3, 12]

## 04장 프로그램 입출력
### 함수

In [214]:
def add(a,b):
    return a+b

a=3
b=4
c=add(a,b)
print(c)

7

In [215]:
def say():
    return 'Hi'
a=say()
print(a)

Hi

In [216]:
def add(a,b):
    print('%d,%d의 합은 %d입니다.' %(a,b,a+b))
add(3,4)

3,4의 합은 7입니다.

In [217]:
a=add(3,4)
print(a)

3,4의 합은 7입니다.
None

In [219]:
def add_many(*args):
    result=0
    for i in args:
        result=result+i
    return result

result=add_many(1,2,3)
print(result)
result=add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [223]:
def add_mul(choice,*args):
    if choice=='add':
        result=0
        for i in args:
            result=result+i
    elif choice =='mul':
        result=1
        for i in args:
            result=result*i
    return result

result=add_mul('add',1,2,3,4,5)
print(result)

result=add_mul('mul',1,2,3,4,5)
print(result)

15
120

In [225]:
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

print_kwargs(name='foo',age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [227]:
def add_and_mul(a,b):
    return a+b, a*b
result=add_and_mul(3,4)
print(result)

(7, 12)

In [237]:
def say_nick(nick):
    if nick=='바보':
        return
    print('나의 별명은 %s 입니다' %nick)

say_nick('야호')
say_nick('바보')

나의 별명은 야호 입니다

In [242]:
def say_myself(name,old,man=True):
    print('나의 이름은 %s 입니다' %name)
    print('나이는 %d 살입니다' %old)
    if man: 
        print('남자입니다')
    else: 
        print('여자입니다')

say_myself('박응용',27)

나의 이름은 박응용 입니다
나이는 27 살입니다
남자입니다

In [245]:
a=1
def varteste(a):
    a=a+1
vartest(3)
print(a)

1

In [246]:
a=1
def vartest(a):
    a=a+1
    return a
a=vartest(a)
print(a)

2

In [250]:
a=1
def vartest():
    global a
    a=a+1
    
vartest()
print(a)

2

In [251]:
add=lambda a,b:a+b
result=add(3,4)
print(result)

7

### 사용자 입력과 출력

In [253]:
a=input()
a

Life is too short, you need python

'Life is too short, you need python'

In [255]:
number=input('숫자를 입력하세요: ')

숫자를 입력하세요: 3

In [256]:
print(number)

3

In [259]:
print('life'+' is'+' too short')

life is too short

In [260]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

### 파일 읽고 쓰기

In [261]:
f=open('새파일.txt','w')
f.close()

In [263]:
f=open('c:/Users/ilpyo/새파일.txt','w')
for i in range(1,11):
    data="%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [264]:
f=open('c:/Users/ilpyo/새파일.txt','r')
line=f.readline()
print(line)
f.close()

1번째 줄입니다.

In [265]:
f=open('c:/Users/ilpyo/새파일.txt','r')
while True:
    line=f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [266]:
f=open('c:/Users/ilpyo/새파일.txt','r')
lines=f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [267]:
f=open('c:/Users/ilpyo/새파일.txt','r')
data=f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [269]:
f=open('c:/Users/ilpyo/새파일.txt','a')
for i in range(11,20):
    data="%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [270]:
f=open('foo.txt','w')
f.write('Life is too short, you need python')
f.close()

In [272]:
with open('foo.txt','w') as f:
    f.write('Life is too short, you need python')

### 연습문제

In [283]:
def is_odd(a):
    if(int(a)%2==0): return '짝수'
    else: return '홀수'

is_odd(input())

24

'짝수'

In [319]:
def avg(*args):
    result=0
    for i in args:
        result+=i
    return result/len(args)

avg(1,3,6)

3.3333333333333335

In [302]:
input1=input('첫번째 숫자를 입력하세요.')
input2=input('두번째 숫자를 입력하세요.')
total=int(input1)+int(input2)
print('두 수의 합은 %d입니다' %total)

첫번째 숫자를 입력하세요.3
두번째 숫자를 입력하세요.6
두 수의 합은 9입니다

In [303]:
print('you''need''python')
print('you'+'need'+'python')
print('you','need','python')
print(''.join(['you','need','python']))

youneedpython
youneedpython
you need python
youneedpython

In [315]:
f1=open('test.txt','w')
f1.write('life is too short')
f1.close()

f2=open('test.txt','r')
print(f2.read())
f2.close()

life is too short

In [316]:
f1=open('test.txt','a')
f1.write(input())
f1.close()

안녕하세요

In [317]:
f1=open('test.txt','w')
f1.write('life is too short\nyou need java')
f1.close()

f2=open('test.txt','r')
example = f2.read()
f2.close()

example=example.replace('java','python')

f1=open('test.txt','w')
f1.write(example)
f1.close()

# 기초적인 알고리즘 문제 풀이

In [229]:
a='a:b:c:d'
a=a.replace(':','#')
a

'a#b#c#d'

In [234]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
sum=0
for a in range(len(A)):
    if(A[a]>=50):
        sum=sum+A[a]
print(sum)

481

In [325]:
def fibo(a):
    if a==0: return 0
    if a==1: return 1
    return fibo(a-1)+fibo(a-2)

fibo(int(input()))

10

55